/***********************************************
* Standardize 
***********************************************/
body, p {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

/***********************************************
* Text
***********************************************/
h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Source Serif Pro', 'Helvetica', 'Arial', sans-serif;
}
a {
    text-decoration: none;
}

/***********************************************
* Layout 
***********************************************/
html {
    background-color: #e3e4f0;
}
.header-banner {
    display: block;
    height: 58px;
    width: 100%;
    padding: 0.75em 30px;
    background-color: #8ff0c4;
}
.beer-me-container {
    position: relative;
    width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#beer-img {
    display: block;
    margin: 0 auto;
    width: 280px;
    height: 372px;
    background-image: url(../images/beer_icon.png);
    border: none;
}
#beer-name {
    text-align: center;
}
#beer-caption {
    margin: 5px 0 30px;
    padding: 0 40px;
}
#loading-spinner {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    margin: -20px 0 0 -20px;
    background-color: rgba(224, 224, 224, 0.97);
    z-index: 1000;
    border-radius: 5px;
    visibility: hidden;
}
#loading-text {
    text-align: center;
    margin-top: 200px;
}
#loading-image {
    display: block;
    width: 50px;
    margin: 0 auto;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.full-width {
    width: 100%;
}

/***********************************************
* Button 
***********************************************/
.highlighted-button {
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    line-height: 1.75em;
    border-radius: 3px;
    background-color: #8ff0c4;
    color: #388165;
    border: 3px solid #388165;
}
.highlighted-button:hover {
    cursor: pointer;
    background-color: #87d4b1;
    color: #555555;
    border-color: #555555;
}
.header-button {
    background-color: #ddd;
    border-radius: 2px;
    border: 2px solid #bbb;
    display: inline-block;
    padding: 5px;
}
